<div class="column gap-1">
  <!-- Add Product Button -->
  <button
  type="button"
  pButton icon="pi pi-plus"
  (click)="toggleAddPopup()"
  label="Add Product"
  class="add-product-btn"
  >

  </button>
  <!-- products section -->
  <div class="row wrap gap-1 space-between">
    <!-- products is variable & when
   do property binding must same = products name match! then it'll work. -->
    <app-product
    *ngFor="let products of products"
    [product]="products"
    (edit)="toggleEditPopup($event)"
    (delete)="toggleDeletePopup($event)"
    >
    </app-product>
    <!-- General, Logic behind is input & output of component. -->
  </div>

  <!-- paginator -->
  <div class="row gap-1 full-center">
    <p-paginator
      [rows]="rows"
      [totalRecords]="totalPage"
      [rowsPerPageOptions]="[4,8,12,16]"
      (onPageChange)="onPageChnage($event)"
      #paginator
    ></p-paginator>
  </div>
  <!-- Edit-product -->
    <app-edit-popup
      [product]="selectedProduct"
      [(display)]="displayEdit"
      (confirm)="onConfirmEdit($event)"
      header="Edit Product"
    ></app-edit-popup>

    <!-- Add Product -->
    <app-edit-popup
      [(display)]="displayAdd"
      (confirm)="onConfirmAdd($event)"
      header="Add Product"
    ></app-edit-popup>
</div>
